:host {
    top: 0px; 
  }
.author-info {
    align-items: center;
    background-color: #f3f4f6; 
    border-radius: 16px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
 
  
  
  