<h2 mat-dialog-title>{{ isCreateMode ? "Add new book" : "Edit book" }}</h2>
<form mat-dialog-content [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <div class="mb-10">
    <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">
      <input
        type="file"
        #fileInput
        (change)="onFileSelected($event)"
        accept="image/*"
        hidden
      />
      Choose Image
    </button>
    <span>{{ selectedFile ? selectedFilename : "No file chosen" }}</span>
  </div>

  <mat-form-field>
    <input
      matInput
      placeholder="Title"
      formControlName="title"
      cdkFocusInitial
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Purchase Link"
      formControlName="purchaseLink"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Year"
      formControlName="publishDate"
    />
  </mat-form-field>

  <div mat-dialog-action>
    <button type="reset" mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit">
      {{ isCreateMode ? "Add" : "Update" }} Book
    </button>
  </div>
</form>
